#
# pin constraints
#
NET CLK_N LOC = "H9"  |  DIFF_TERM = "TRUE"  |  IOSTANDARD = "LVDS_25";
NET CLK_P LOC = "J9"  |  DIFF_TERM = "TRUE"  |  IOSTANDARD = "LVDS_25";
NET ETHERNET_MDC LOC = "AP14"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_MDIO LOC = "AN14"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_MII_TX_CLK LOC = "AD12"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_PHY_RST_N LOC = "AH13"  |  IOSTANDARD = "LVCMOS25"  |  TIG;
NET ETHERNET_RXD[0] LOC = "AN13"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_RXD[1] LOC = "AF14"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_RXD[2] LOC = "AE14"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_RXD[3] LOC = "AN12"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_RXD[4] LOC = "AM12"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_RXD[5] LOC = "AD11"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_RXD[6] LOC = "AC12"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_RXD[7] LOC = "AC13"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_RX_CLK LOC = "AP11"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_RX_DV LOC = "AM13"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_RX_ER LOC = "AG12"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_TXD[0] LOC = "AM11"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_TXD[1] LOC = "AL11"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_TXD[2] LOC = "AG10"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_TXD[3] LOC = "AG11"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_TXD[4] LOC = "AL10"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_TXD[5] LOC = "AM10"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_TXD[6] LOC = "AE11"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_TXD[7] LOC = "AF11"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_TX_CLK LOC = "AH12"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_TX_EN LOC = "AJ10"  |  IOSTANDARD = "LVCMOS25";
NET ETHERNET_TX_ER LOC = "AH10"  |  IOSTANDARD = "LVCMOS25";
NET LEDs_8Bits_TRI_O[0] LOC = "AC22"  |  IOSTANDARD = "LVCMOS25";
NET LEDs_8Bits_TRI_O[1] LOC = "AC24"  |  IOSTANDARD = "LVCMOS25";
NET LEDs_8Bits_TRI_O[2] LOC = "AE22"  |  IOSTANDARD = "LVCMOS25";
NET LEDs_8Bits_TRI_O[3] LOC = "AE23"  |  IOSTANDARD = "LVCMOS25";
NET LEDs_8Bits_TRI_O[4] LOC = "AB23"  |  IOSTANDARD = "LVCMOS25";
NET LEDs_8Bits_TRI_O[5] LOC = "AG23"  |  IOSTANDARD = "LVCMOS25";
NET LEDs_8Bits_TRI_O[6] LOC = "AE24"  |  IOSTANDARD = "LVCMOS25";
NET LEDs_8Bits_TRI_O[7] LOC = "AD24"  |  IOSTANDARD = "LVCMOS25";
NET RESET LOC = "H10"  |  IOSTANDARD = "SSTL15"  |  TIG;
NET RS232_Uart_1_sin LOC = "J24"  |  IOSTANDARD = "LVCMOS25";
NET RS232_Uart_1_sout LOC = "J25"  |  IOSTANDARD = "LVCMOS25";
NET SysACE_CEN LOC = "AJ14"  |  IOSTANDARD = "LVCMOS25";
NET SysACE_CLK LOC = "AE16"  |  IOSTANDARD = "LVCMOS25";
NET SysACE_MPA[0] LOC = "AC15"  |  IOSTANDARD = "LVCMOS25";
NET SysACE_MPA[1] LOC = "AP15"  |  IOSTANDARD = "LVCMOS25";
NET SysACE_MPA[2] LOC = "AG17"  |  IOSTANDARD = "LVCMOS25";
NET SysACE_MPA[3] LOC = "AH17"  |  IOSTANDARD = "LVCMOS25";
NET SysACE_MPA[4] LOC = "AG15"  |  IOSTANDARD = "LVCMOS25";
NET SysACE_MPA[5] LOC = "AF15"  |  IOSTANDARD = "LVCMOS25";
NET SysACE_MPA[6] LOC = "AK14"  |  IOSTANDARD = "LVCMOS25";
NET SysACE_MPD[0] LOC = "AM15"  |  IOSTANDARD = "LVCMOS25";
NET SysACE_MPD[1] LOC = "AJ17"  |  IOSTANDARD = "LVCMOS25";
NET SysACE_MPD[2] LOC = "AJ16"  |  IOSTANDARD = "LVCMOS25";
NET SysACE_MPD[3] LOC = "AP16"  |  IOSTANDARD = "LVCMOS25";
NET SysACE_MPD[4] LOC = "AG16"  |  IOSTANDARD = "LVCMOS25";
NET SysACE_MPD[5] LOC = "AH15"  |  IOSTANDARD = "LVCMOS25";
NET SysACE_MPD[6] LOC = "AF16"  |  IOSTANDARD = "LVCMOS25";
NET SysACE_MPD[7] LOC = "AN15"  |  IOSTANDARD = "LVCMOS25";
NET SysACE_MPIRQ LOC = "L9"  |  IOSTANDARD = "LVCMOS25"  |  TIG;
NET SysACE_OEN LOC = "AL15"  |  IOSTANDARD = "LVCMOS25";
NET SysACE_WEN LOC = "AL14"  |  IOSTANDARD = "LVCMOS25";
#
# additional constraints
#

NET "CLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 200000 kHz;

###### Hard Ethernet

# GMII physical interface constraints
# -----------------------------------------------------------------------------

# Set the IDELAY values on the PHY inputs, tuned for this example design.
# These values should be modified to suit your design.
INST "*gmii_interface/*.delay_gmii_rx_dv"    IDELAY_VALUE = 27;
INST "*gmii_interface/*[0].delay_gmii_rxd" IDELAY_VALUE = 23;
INST "*gmii_interface/*[1].delay_gmii_rxd" IDELAY_VALUE = 29;
INST "*gmii_interface/*[2].delay_gmii_rxd" IDELAY_VALUE = 29;
INST "*gmii_interface/*[3].delay_gmii_rxd" IDELAY_VALUE = 25;
INST "*gmii_interface/*[4].delay_gmii_rxd" IDELAY_VALUE = 27;
INST "*gmii_interface/*[5].delay_gmii_rxd" IDELAY_VALUE = 29;
INST "*gmii_interface/*[6].delay_gmii_rxd" IDELAY_VALUE = 30;
INST "*gmii_interface/*[7].delay_gmii_rxd" IDELAY_VALUE = 30;
INST "*gmii_interface/*.delay_gmii_rx_er"    IDELAY_VALUE = 20;

# Group all IDELAY-related blocks to use a single IDELAYCTRL
INST "*dlyctrl"                             IODELAY_GROUP = gmii_idelay;
INST "*gmii_interface/*.delay_gmii_rx_dv"     IODELAY_GROUP = gmii_idelay;
INST "*gmii_interface/*[?].delay_gmii_rxd" IODELAY_GROUP = gmii_idelay;
INST "*gmii_interface/*.delay_gmii_rx_er"     IODELAY_GROUP = gmii_idelay;

# Signal trace properties for ML605 Board used in offset in constraints below

# This signal trace is longer than the clock trace, and arrives at the FPGA pin ~65 ps after the clock
# Therefore the offset in constraint must have less setup time than nominal
NET ETHERNET_RXD[0] OFFSET = IN 2.435 ns VALID 3 ns BEFORE "ETHERNET_RX_CLK";

# This signal trace is shorter than the clock trace, and arrives at the FPGA pin ~375 ps before the clock
# Therefore the offset in constraint must have more setup time than nominal
NET ETHERNET_RXD[1] OFFSET = IN 2.875 ns VALID 3 ns BEFORE "ETHERNET_RX_CLK";

# This signal trace is shorter than the clock trace, and arrives at the FPGA pin ~372 ps before the clock
# Therefore the offset in constraint must have more setup time than nominal
NET ETHERNET_RXD[2] OFFSET = IN 2.872 ns VALID 3 ns BEFORE "ETHERNET_RX_CLK";

# This signal trace is shorter than the clock trace, and arrives at the FPGA pin ~115 ps before the clock
# Therefore the offset in constraint must have more setup time than nominal
NET ETHERNET_RXD[3] OFFSET = IN 2.615 ns VALID 3 ns BEFORE "ETHERNET_RX_CLK";

# This signal trace is shorter than the clock trace, and arrives at the FPGA pin ~244 ps before the clock
# Therefore the offset in constraint must have more setup time than nominal
NET ETHERNET_RXD[4] OFFSET = IN 2.744 ns VALID 3 ns BEFORE "ETHERNET_RX_CLK";

# This signal trace is shorter than the clock trace, and arrives at the FPGA pin ~404 ps before the clock
# Therefore the offset in constraint must have more setup time than nominal
NET ETHERNET_RXD[5] OFFSET = IN 2.904 ns VALID 3 ns BEFORE "ETHERNET_RX_CLK";

# This signal trace is shorter than the clock trace, and arrives at the FPGA pin ~498 ps before the clock
# Therefore the offset in constraint must have more setup time than nominal
NET ETHERNET_RXD[6] OFFSET = IN 2.998 ns VALID 3 ns BEFORE "ETHERNET_RX_CLK";

# This signal trace is shorter than the clock trace, and arrives at the FPGA pin ~485 ps before the clock
# Therefore the offset in constraint must have more setup time than nominal
NET ETHERNET_RXD[7] OFFSET = IN 2.985 ns VALID 3 ns BEFORE "ETHERNET_RX_CLK";

# This signal trace is shorter than the clock trace, and arrives at the FPGA pin ~291 ps before the clock
# Therefore the offset in constraint must have more setup time than nominal
NET ETHERNET_RX_DV  OFFSET = IN 2.791 ns VALID 3 ns BEFORE "ETHERNET_RX_CLK";

# This signal trace is longer than the clock trace, and arrives at the FPGA pin ~308 ps after the clock
# Therefore the offset in constraint must have less setup time than nominal
NET ETHERNET_RX_ER  OFFSET = IN 2.192 ns VALID 3 ns BEFORE "ETHERNET_RX_CLK";

################################################################################
# Clock constraints
################################################################################
NET "FMC150_IF_DMA_0_ADC_CLK_AB_P" TNM_NET = ADC_CLK_AB_P;

#NET "CLK_TO_FPGA_P" TNM_NET = CLK_TO_FPGA_P;
#TIMESPEC TS_CLK_TO_FPGA_P = PERIOD "CLK_TO_FPGA_P" 246 MHz HIGH 50%;
#NET "EXT_TRIGGER_P" TNM_NET = EXT_TRIGGER_P;
#TIMESPEC TS_EXT_TRIGGER_P = PERIOD "EXT_TRIGGER_P" 246 MHz HIGH 50%;
NET "FMC150_IF_DMA_0_ADC_CLK_AB_P" CLOCK_DEDICATED_ROUTE = FALSE;

################################################################################
# FMC signals (FMC150 on ML605, LPC site)
################################################################################
NET "FMC150_IF_DMA_0_ADC_N_EN" LOC="A33";
NET "FMC150_IF_DMA_0_ADC_RESET" LOC="B32";
NET "FMC150_IF_DMA_0_ADC_SDO" LOC="C32";
NET "FMC150_IF_DMA_0_CDCE_N_EN" LOC="M26";
NET "FMC150_IF_DMA_0_CDCE_N_PD" LOC="L31";
NET "FMC150_IF_DMA_0_CDCE_N_RESET" LOC="M31";
NET "FMC150_IF_DMA_0_CDCE_SDO" LOC="M27";
NET "FMC150_IF_DMA_0_ADC_CHA_N<0>" LOC="E31";
NET "FMC150_IF_DMA_0_ADC_CHA_N<1>" LOC="H30";
NET "FMC150_IF_DMA_0_ADC_CHA_N<2>" LOC="J32";
NET "FMC150_IF_DMA_0_ADC_CHA_N<3>" LOC="J29";
NET "FMC150_IF_DMA_0_ADC_CHA_N<4>" LOC="H33";
NET "FMC150_IF_DMA_0_ADC_CHA_N<5>" LOC="J34";
NET "FMC150_IF_DMA_0_ADC_CHA_N<6>" LOC="H32";
NET "FMC150_IF_DMA_0_ADC_CHA_P<0>" LOC="F31";
NET "FMC150_IF_DMA_0_ADC_CHA_P<1>" LOC="G31";
NET "FMC150_IF_DMA_0_ADC_CHA_P<2>" LOC="J31";
NET "FMC150_IF_DMA_0_ADC_CHA_P<3>" LOC="K28";
NET "FMC150_IF_DMA_0_ADC_CHA_P<4>" LOC="H34";
NET "FMC150_IF_DMA_0_ADC_CHA_P<5>" LOC="K33";
NET "FMC150_IF_DMA_0_ADC_CHA_P<6>" LOC="G32";
NET "FMC150_IF_DMA_0_ADC_CHB_N<0>" LOC="K29";
NET "FMC150_IF_DMA_0_ADC_CHB_N<1>" LOC="L26";
NET "FMC150_IF_DMA_0_ADC_CHB_N<2>" LOC="G30";
NET "FMC150_IF_DMA_0_ADC_CHB_N<3>" LOC="D32";
NET "FMC150_IF_DMA_0_ADC_CHB_N<4>" LOC="E33";
NET "FMC150_IF_DMA_0_ADC_CHB_N<5>" LOC="C34";
NET "FMC150_IF_DMA_0_ADC_CHB_N<6>" LOC="B34";
NET "FMC150_IF_DMA_0_ADC_CHB_P<0>" LOC="J30";
NET "FMC150_IF_DMA_0_ADC_CHB_P<1>" LOC="L25";
NET "FMC150_IF_DMA_0_ADC_CHB_P<2>" LOC="F30";
NET "FMC150_IF_DMA_0_ADC_CHB_P<3>" LOC="D31";
NET "FMC150_IF_DMA_0_ADC_CHB_P<4>" LOC="E32";
NET "FMC150_IF_DMA_0_ADC_CHB_P<5>" LOC="D34";
NET "FMC150_IF_DMA_0_ADC_CHB_P<6>" LOC="C33";
NET "FMC150_IF_DMA_0_ADC_CLK_AB_N" LOC="K27";
NET "FMC150_IF_DMA_0_ADC_CLK_AB_P" LOC="K26";
NET "FMC150_IF_DMA_0_CLK_TO_FPGA_N" LOC="B10";
NET "FMC150_IF_DMA_0_CLK_TO_FPGA_P" LOC="A10";
NET "FMC150_IF_DMA_0_EXT_TRIGGER_N" LOC="G33";
NET "FMC150_IF_DMA_0_EXT_TRIGGER_P" LOC="F33";
NET "FMC150_IF_DMA_0_MON_N_EN" LOC="R31";
NET "FMC150_IF_DMA_0_MON_N_INT" LOC="M25";
NET "FMC150_IF_DMA_0_MON_N_RESET" LOC="R32";
NET "FMC150_IF_DMA_0_MON_SDO" LOC="N25";
NET "FMC150_IF_DMA_0_CDCE_PLL_STATUS" LOC="K31";
NET "FMC150_IF_DMA_0_PRSNT_M2C_L" LOC="AD9";
NET "FMC150_IF_DMA_0_CDCE_REF_EN" LOC="K32";
NET "FMC150_IF_DMA_0_SPI_SCLK" LOC="N34";
NET "FMC150_IF_DMA_0_SPI_SDATA" LOC="P34";

NET "FMC150_IF_DMA_0_DAC_DATA_N<0>" LOC="M32";
NET "FMC150_IF_DMA_0_DAC_DATA_N<1>" LOC="P30";
NET "FMC150_IF_DMA_0_DAC_DATA_N<2>" LOC="P32";
NET "FMC150_IF_DMA_0_DAC_DATA_N<3>" LOC="R27";
NET "FMC150_IF_DMA_0_DAC_DATA_N<4>" LOC="R29";
NET "FMC150_IF_DMA_0_DAC_DATA_N<5>" LOC="N30";
NET "FMC150_IF_DMA_0_DAC_DATA_N<6>" LOC="L30";
NET "FMC150_IF_DMA_0_DAC_DATA_N<7>" LOC="N29";
NET "FMC150_IF_DMA_0_DAC_DATA_P<0>" LOC="L33";
NET "FMC150_IF_DMA_0_DAC_DATA_P<1>" LOC="P31";
NET "FMC150_IF_DMA_0_DAC_DATA_P<2>" LOC="N32";
NET "FMC150_IF_DMA_0_DAC_DATA_P<3>" LOC="R28";
NET "FMC150_IF_DMA_0_DAC_DATA_P<4>" LOC="P29";
NET "FMC150_IF_DMA_0_DAC_DATA_P<5>" LOC="M30";
NET "FMC150_IF_DMA_0_DAC_DATA_P<6>" LOC="L29";
NET "FMC150_IF_DMA_0_DAC_DATA_P<7>" LOC="N28";
NET "FMC150_IF_DMA_0_DAC_DCLK_N" LOC="T26";
NET "FMC150_IF_DMA_0_DAC_DCLK_P" LOC="R26";
NET "FMC150_IF_DMA_0_DAC_FRAME_N" LOC="P27";
NET "FMC150_IF_DMA_0_DAC_FRAME_P" LOC="N27";
NET "FMC150_IF_DMA_0_DAC_N_EN" LOC="N33";
NET "FMC150_IF_DMA_0_DAC_SDO" LOC="M33";
NET "FMC150_IF_DMA_0_TXENABLE" LOC="B33";
# UP Status MMCM <-> Led signals GPIO_LED_C
NET "FMC150_IF_DMA_0_UP_STATUS<2>" LOC="AP24"  |  IOSTANDARD = "LVCMOS25";
# UP Status CDCE_PLL <-> Led signals GPIO_LED_W
NET "FMC150_IF_DMA_0_UP_STATUS<1>" LOC="AD21"  |  IOSTANDARD = "LVCMOS25";
#Created by Constraints Editor (xc6vlx240t-ff1156-1) - 2012/05/16
NET "fmc150_if_dma_0_adc_clk_ab_n" TNM_NET = fmc150_if_dma_0_adc_clk_ab_n;
#TIMESPEC TS_fmc150_if_dma_0_adc_clk_ab_n = PERIOD "fmc150_if_dma_0_adc_clk_ab_n" 61.44 MHz HIGH 50%;
#TIMESPEC TS_fmc150_if_dma_0_adc_clk_ab_n = PERIOD "fmc150_if_dma_0_adc_clk_ab_n" 122.88 MHz HIGH 50%;
TIMESPEC TS_fmc150_if_dma_0_adc_clk_ab_n = PERIOD "fmc150_if_dma_0_adc_clk_ab_n" 98.304 MHz HIGH 50%;
NET "fmc150_if_dma_0_adc_clk_ab_p" TNM_NET = fmc150_if_dma_0_adc_clk_ab_p;
#TIMESPEC TS_fmc150_if_dma_0_adc_clk_ab_p = PERIOD "fmc150_if_dma_0_adc_clk_ab_p" 61.44 MHz HIGH 50%;
#TIMESPEC TS_fmc150_if_dma_0_adc_clk_ab_p = PERIOD "fmc150_if_dma_0_adc_clk_ab_p" 122.88 MHz HIGH 50%;
TIMESPEC TS_fmc150_if_dma_0_adc_clk_ab_p = PERIOD "fmc150_if_dma_0_adc_clk_ab_p" 98.304 MHz HIGH 50%;
INST "fmc150_if_dma_0_adc_cha_n<0>" TNM = TMN_fmc150_if_dma_cha_n;
INST "fmc150_if_dma_0_adc_cha_n<1>" TNM = TMN_fmc150_if_dma_cha_n;
INST "fmc150_if_dma_0_adc_cha_n<2>" TNM = TMN_fmc150_if_dma_cha_n;
INST "fmc150_if_dma_0_adc_cha_n<3>" TNM = TMN_fmc150_if_dma_cha_n;
INST "fmc150_if_dma_0_adc_cha_n<4>" TNM = TMN_fmc150_if_dma_cha_n;
INST "fmc150_if_dma_0_adc_cha_n<5>" TNM = TMN_fmc150_if_dma_cha_n;
INST "fmc150_if_dma_0_adc_cha_n<6>" TNM = TMN_fmc150_if_dma_cha_n;
#TIMEGRP "TMN_fmc150_if_dma_cha_n" OFFSET = IN 8.138 ns VALID 16.276 ns BEFORE "fmc150_if_dma_0_adc_clk_ab_n" RISING;
#TIMEGRP "TMN_fmc150_if_dma_cha_n" OFFSET = IN 4.069 ns VALID 8.138 ns BEFORE "fmc150_if_dma_0_adc_clk_ab_n" RISING;
TIMEGRP "TMN_fmc150_if_dma_cha_n" OFFSET = IN 5.087 ns VALID 10.173 ns BEFORE "fmc150_if_dma_0_adc_clk_ab_n" RISING;
INST "fmc150_if_dma_0_adc_cha_p<0>" TNM = TMN_fmc150_if_dma_cha_p;
INST "fmc150_if_dma_0_adc_cha_p<1>" TNM = TMN_fmc150_if_dma_cha_p;
INST "fmc150_if_dma_0_adc_cha_p<2>" TNM = TMN_fmc150_if_dma_cha_p;
INST "fmc150_if_dma_0_adc_cha_p<3>" TNM = TMN_fmc150_if_dma_cha_p;
INST "fmc150_if_dma_0_adc_cha_p<4>" TNM = TMN_fmc150_if_dma_cha_p;
INST "fmc150_if_dma_0_adc_cha_p<5>" TNM = TMN_fmc150_if_dma_cha_p;
INST "fmc150_if_dma_0_adc_cha_p<6>" TNM = TMN_fmc150_if_dma_cha_p;
#TIMEGRP "TMN_fmc150_if_dma_cha_p" OFFSET = IN 8.138 ns VALID 16.276 ns BEFORE "fmc150_if_dma_0_adc_clk_ab_p" RISING;
#TIMEGRP "TMN_fmc150_if_dma_cha_p" OFFSET = IN 4.069 ns VALID 8.138 ns BEFORE "fmc150_if_dma_0_adc_clk_ab_p" RISING;
TIMEGRP "TMN_fmc150_if_dma_cha_p" OFFSET = IN 5.087 ns VALID 10.173 ns BEFORE "fmc150_if_dma_0_adc_clk_ab_p" RISING;
INST "fmc150_if_dma_0_adc_chb_n<0>" TNM = TMN_fmc150_if_dma_chb_n;
INST "fmc150_if_dma_0_adc_chb_n<1>" TNM = TMN_fmc150_if_dma_chb_n;
INST "fmc150_if_dma_0_adc_chb_n<2>" TNM = TMN_fmc150_if_dma_chb_n;
INST "fmc150_if_dma_0_adc_chb_n<3>" TNM = TMN_fmc150_if_dma_chb_n;
INST "fmc150_if_dma_0_adc_chb_n<4>" TNM = TMN_fmc150_if_dma_chb_n;
INST "fmc150_if_dma_0_adc_chb_n<5>" TNM = TMN_fmc150_if_dma_chb_n;
INST "fmc150_if_dma_0_adc_chb_n<6>" TNM = TMN_fmc150_if_dma_chb_n;
#TIMEGRP "TMN_fmc150_if_dma_chb_n" OFFSET = IN 8.138 ns VALID 16.276 ns BEFORE "fmc150_if_dma_0_adc_clk_ab_n" RISING;
#TIMEGRP "TMN_fmc150_if_dma_chb_n" OFFSET = IN 4.069 ns VALID 8.138 ns BEFORE "fmc150_if_dma_0_adc_clk_ab_n" RISING;
TIMEGRP "TMN_fmc150_if_dma_chb_n" OFFSET = IN 5.087 ns VALID 10.173 ns BEFORE "fmc150_if_dma_0_adc_clk_ab_n" RISING;
INST "fmc150_if_dma_0_adc_chb_p<0>" TNM = TMN_fmc150_if_dma_chb_p;
INST "fmc150_if_dma_0_adc_chb_p<1>" TNM = TMN_fmc150_if_dma_chb_p;
INST "fmc150_if_dma_0_adc_chb_p<2>" TNM = TMN_fmc150_if_dma_chb_p;
INST "fmc150_if_dma_0_adc_chb_p<3>" TNM = TMN_fmc150_if_dma_chb_p;
INST "fmc150_if_dma_0_adc_chb_p<4>" TNM = TMN_fmc150_if_dma_chb_p;
INST "fmc150_if_dma_0_adc_chb_p<5>" TNM = TMN_fmc150_if_dma_chb_p;
INST "fmc150_if_dma_0_adc_chb_p<6>" TNM = TMN_fmc150_if_dma_chb_p;
#TIMEGRP "TMN_fmc150_if_dma_chb_p" OFFSET = IN 8.138 ns VALID 16.276 ns BEFORE "fmc150_if_dma_0_adc_clk_ab_p" RISING;
#TIMEGRP "TMN_fmc150_if_dma_chb_p" OFFSET = IN 4.069 ns VALID 8.138 ns BEFORE "fmc150_if_dma_0_adc_clk_ab_p" RISING;
TIMEGRP "TMN_fmc150_if_dma_chb_p" OFFSET = IN 5.087 ns VALID 10.173 ns BEFORE "fmc150_if_dma_0_adc_clk_ab_p" RISING;

################################################################################
# Crossing Clock Domain FIFO Constraints
################################################################################

NET "fmc150_if_dma_0/fmc150_if_dma_0/USER_LOGIC_I/cmp_fmc150_testbench/adc_str_out" TNM_NET = "CLK_ADC_GRP";
NET "clock_generator_0/clock_generator_0/SIG_MMCM0_CLKOUT2" TNM_NET = "CLK_DMA_GRP";
 
INST "*/gen_fifo_inst*" TPTHRU = "ASYNC_FIFO";
 
TIMESPEC TS_CC_AB = FROM "CLK_ADC_GRP" THRU "ASYNC_FIFO" TO "CLK_DMA_GRP" TIG;
TIMESPEC TS_CC_BA = FROM "CLK_DMA_GRP" THRU "ASYNC_FIFO" TO "CLK_ADC_GRP" TIG;